* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: yekan;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Yekan.eot");
  src: url("fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("fonts/Yekan.woff") format("woff"),
    url("fonts/Yekan.ttf") format("truetype"),
    url("fonts/Yekan.svg#BYekan") format("svg");
}
@font-face {
  font-family: yekan;
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Yekan.eot");
  src: url("fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("fonts/Yekan.woff") format("woff"),
    url("fonts/Yekan.ttf") format("truetype"),
    url("fonts/Yekan.svg#BYekan") format("svg");
}
body {
  font-family: "yekan", Arial, sans-serif;
  font-weight: normal;
  text-align: right;
}
.header-top {
  margin: 1rem;
  /* background-color: aqua; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}
.icons_container {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.icons {
  margin-left: 1em;
  margin-right: 1em;
}
.icons:hover {
  cursor: pointer;
}
.header-left {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 5px;
}
.header-left:hover {
  cursor: pointer;
}
.header_p {
  margin-right: 0.5em;
  padding-left: 1em;
}

.figure-header {
  width: 100%;
  height: 65vh;
  /* display: flex; */
  background-image: url("https://lh3.googleusercontent.com/proxy/ab5d_Fa_7BVEmQrgtFcyFlWAuhQBrG6cgBr5DLxg5hiu3jzM77ylI2Ev8h61_9U__awalifOfz5k4-ckX6J5D70V6OOSVEZGkSJh4NxR02vTkZEOmWxfTURGx8MWiBX3Do5Z3vR7XvA0WXpe");
  background-size: cover;
  background-position: center;
  /* flex-direction: column;
    position: relative; */
}

.figure-caption {
  /* padding-top: 10rem ; */
  padding-top: 30vh ;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.13);
  color: white;
}
section {
margin: 2%;
}
.text-title {
  border-bottom: red solid 2px;
  display: inline;
}
.headphones-container {
margin: 0.05vw;
display: flex;
flex-flow: row wrap;
gap: 1rem;
margin-top: 1rem;
justify-content: center;
align-content: center;
}
.headphones {
    max-width: 19rem;
    min-height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(199, 199, 199) 3px ; 
    border-radius: 7px;
    position: relative;
    justify-items: center;
    align-content: center;
    /* box-shadow: 5px 5px 10px black ; */
    /* background-color: burlywood; */
}
.headphones:hover {
    box-shadow: 2px 1px 30px 1px rgb(117, 117, 117) ;
}
.text-p {
  text-align: center;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}
.headphone-img-container {
    margin: 1rem;
    width: 80%;
}
.headphones-container-top-right {
    position: absolute;
    right: 0;
    top: 0;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    margin-top: 3% ;
    margin-right: 3% ;
    padding: 0.2rem;
}
.headphones-container-top-left {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    margin-top: 3% ;
    margin-right: 3% ;
    padding: 0.2rem;
}
.checked {
  color: orange;
}
.headphones-container-bottom {
    /* position: relative;
    bottom: 0%; */
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 3%;
    /* background-color: cadetblue; */
    justify-content: space-between;
}
.headphones-container-bottom-left {
  display: flex;
  flex-direction: row;
}
.buy {
    background-color: green;
    /* width: 2rem; */
    color: white;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 15px;
    transition: all 1.2s ;
}
.buy2 {
  display: none;
  transition: all 1s ;
}
.buy:hover .buy2 {
  display: inline;
  margin-left: -2rem;
}
.buy2:hover {
  padding-left: 3rem;
}
.buy:hover {
  transform: ;
  padding-right: 1rem;
  padding-left: 0.51rem;
}

.like {
    background-color: green;
    color: white;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 15px;
}

p , h3 {
    direction: rtl;
}
footer {
  color: white;
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(128, 132, 136);
  padding: 2%;
}
.footer-left {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: space-around;
  align-items: center;
  padding-top:2rem ;
  padding-bottom: 2rem;
  /* background-color: aqua; */
}
.footer-right {
  flex-basis: 70%;
  text-align: justify;
  align-self: center;
  /* background-color: bisque; */
}

@media screen and (max-width: 952px) {
  footer {
  flex-flow: column wrap;
  background-color: rgb(128, 132, 136);
  padding: 2%;
}
  .footer-left {
  flex-flow: row wrap;
  /* flex-basis: 30%; */
  justify-content: space-around;
  align-items: center;
  padding-top:0 ;
  padding-bottom: 1rem;
  flex-direction: row-reverse;
  /* background-color: aqua; */
}
}
@media screen and (max-width: 386px) {
  .header-top {
  /* margin: 1rem; */
  /* background-color: aqua; */
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  }
}

@media screen and (max-width: 272px) {
  body , head {
    font-size: 0.8rem;
  }
}